.divider {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

}

.col-1 {
    background-color: rgb(228, 248, 255);
    border-radius: 5px;
}

.container {
    margin: 0rem 2rem;
}

.banner {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    background-color: rgb(34, 74, 112);
    color: rgb(240, 240, 240);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.company-names {
    list-style-image: url('/images/icons/cloud.png');
    line-height: 2rem;
    text-align: left;
}