.account-container {
    margin: 0 2rem;
    padding: 9rem 5rem;
    display: grid;
    grid-template-columns: 300px 75%;
    grid-gap: 2rem;
}

.jumbotron {
    text-align: center;
    border-radius: 5px;
    background-color: lightgrey;
}

.segment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin: 1.5rem 0;
    border-radius: 5px;
    border: medium grey dashed;
    grid-gap: 3rem;
}

.account-nav-block {
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.3rem;
}

.account-nav-block * {
    padding-top: .8rem;
}

.account-nav-block:hover {
    background-color: rgb(208, 232, 255);
}

.account-nav-block p {
    margin: .5rem;
}

.account-nav-block.active {
    border-bottom: 6px solid var(--primary-color);
}

.account-two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.method-segment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin: 1rem 0;
    border-radius: 40px;
    border: thin black solid;
    background-color: rgb(255, 255, 255);
}

.monthly-rate {
    font-size: 1.2rem;
}

.delete-icon {
    background-color: rgb(255, 88, 88);
    border-radius: 50px;
    padding: 1rem;
    cursor: pointer;
}

.segment .standard {
    padding: .5rem;
}

.primary-method {
    color: green;
    background-color: rgba(0, 255, 0, .1);
    border-radius: 5px;
    padding: 0 1rem;
}

.account-navigation {
    background-color: rgb(181, 214, 255);
    max-width: 700px;
    height: 600px;
    padding-top: 2rem;
    text-align: center;
    border-radius: 10px;
}

.account-nav-grid div{
    border-bottom: solid grey medium;
}

.monthly-rate-container {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    max-width: 500px;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 4rem .1rem;
}

.account-hosting-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 2rem;
}

.subscriptions-container h3 {
    margin-top: 0;
}

.quote-container {
    border: solid black thick;
    margin: 2rem 0;
    padding: 1.5rem;
}

.manage-hosting-link {
    color: rgb(70, 70, 241);
    cursor: pointer;
}

.dropdown-carrot {
    height: .9rem;
    margin: 0;
    padding: 0;
    padding-left: .5rem;
}

.profile-image {
    height: 100px;
    width: auto;
}

.auto-renew-box {
    padding: 2rem;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.auto-renew-indicator-text {
    font-size: 2rem;
}